#links group {
    display: block;
    margin-bottom: 45px;
}

#links group p {
    padding-left:30px;
}

.under-text {
    margin-left:60px;
    font-size: 20px;
}
links {
    padding-top: 80px;
    padding-bottom: 120px;
}