@font-face {
    font-family: October Crow;
    src: url(../font/October\ Crow.ttf);
}

body {
    background-color: black;
    color: white;
    background-image: url(../pictures/background/fire.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

p {
    font-family: "Roboto", Arial, sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgba(0, 0, 0, 0.514);
    border-radius: 100px;
    padding-top: 30px;
    padding-bottom: 200px;
    margin-bottom: 0;

}

.gridDiv {
    display: inline-block;
    unicode-bidi: isolate;
    min-width: 300px;
    color: white;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;

}

@media(max-width:999px) {
    .empContMain {
        display: none;
    }


}

@media(min-width:1000px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }

    .empContMain {
        display: none;
    }

    .empContMainUnHide {
        display: block;
    }
}

@media(min-width:1500px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .gridDiv {
        grid-column-start: span 2;
    }

    .gridPhas,
    .empMusicGrid {
        grid-column-start: span 3;
    }

    .empContMain {
        display: block;
    }

    .empContMainUnHide {
        display: none;
    }

}

.cred {
    margin: 0;
    display: inline-block;

    padding-right: 20px;
}

.credcon {
    background-color: rgba(0, 0, 0, 0.89);
    border-radius: 0px 50px 0px 0px;
}

body::-webkit-scrollbar {
    display: none;
}