.malImg {
    border-radius: 50px;
}

.quotes {
    padding: 5px;
    display: inline-table;
    max-width: 200px;
    font-size: 25px;
}

.welcome_text{
    font-size: 30px;
}

.welcome_text_title{
    font-size: 40px;
}