.commtext {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  display: block;
  margin: 20px 20px 20px 20px;
  border-radius: 60px;
}

.quotes {
  background-color: rgba(0, 0, 255, 0.185);
  margin: 2px 2px 2px 2px;
  display: flexbox;
  flex-direction: column;
  border-radius: 50px;
}

.quote2 {
  display: inline-flex;
}