
#chat-games-choice {
    background-color: var(--color-hover-primary);
    border: 2px solid lightGray;
}

.GamesContainer {
    background-color: var(--color-bg-secondary);
    padding: 50px;
    border-radius: 50px;
    max-width: 1200px;
}

.bold {
    font-weight: 700;
}