
#crew-choice {
    background-color: var(--color-hover-primary);
    border: 2px solid lightGray;
}

.card-img {
    height: 457px;
    width: 457px;
}

.card-media {
    margin: auto;
}