
#support-benefits-choice {
    background-color: var(--color-hover-primary);
    border: 2px solid lightGray;
}


.Nikki-offer {
    margin-top: 20px;
    margin-left: 70px;
}

Nikki p {
    margin-left:50px;
    margin-top:25px;
}

Nikki p a {
    font-weight:700;
}