#socials-choice {
    background-color: var(--color-hover-primary);
    border: 2px solid lightGray;
}

social img {
    height: 50px;
    margin-right:10px;
}

social {
    display: flex;
    align-items: center
}

@media (min-width:0px) {
    #main-body {
        padding-top: 110px;
    }
}
@media (min-width:1080px) {
    #main-body {
        padding-top: 20px;
    }
}